<phpunit colors="true">
    <filter>
        <blacklist>
           <directory suffix=".php">../src/contrib/</directory>
           <directory suffix=".php">../src/external/</directory>
           <directory suffix=".php">./</directory>
           <file>../src/cache/apiApcCache.php</file>
           <file>../src/cache/apiMemcacheCache.php</file>
        </blacklist>
    </filter>
</phpunit>
